<app-navbar></app-navbar>

<div class="section">
    <div class="first-section">
        <img src="../../../assets/images/background3.jpg">
    </div>

    <div class="second-section ">
        <div class="content">
            <h2>
                Join Us in Connecting You with your Loved Ones Shiftly 
                            
            </h2>
            <!-- <div class="btn-container">
                    <img src="../../../../assets/icon/google-play.png" class="google">
                    <img src="../../../../assets/icon/app-store.png" class="app">
            </div> -->
            <div class="row products">
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Message</h4>
                        <small>
                            Stay connected effortlessly with LOGO instantly.
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Images</h4>
                        <small>
                            Share memories with loved ones
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Share Thoughts</h4>
                        <small>
                            share messages and images easily with public.
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Information</h4>
                        <small>
                            Lorem Ipsum is simply dummy text of the                    </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="../../../assets/images/communicate.webp">
        </div>
    </div>
    <div class="third-section">
        <div class="content">
            <h1 class="h1-head"><b>
                Our values  
            </b></h1>
            <p>
                Our app is designed to be intuitive and responsive, ensuring secure communication process across all devices.
            </p>
        </div>
        <div class="goal-content">
            <div class="goal">
                <img src="../../../assets/images/innovation.svg">
                <h2>
                    <b>Innovation</b>
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
            <div class="goal">
                <img src="../../../assets/images/simple.svg">
                <h2>
                    <b>Simplicity</b>
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
            <div class="goal">
                <img src="../../../assets/images/trust.svg">
                <h2>
                    Trust
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
        </div>
    </div>
</div>