<app-navbar></app-navbar>

<div class="section">
    <div class="first-section">
        <img src="../../../assets/images/background3.jpg">
    </div>

    <div class="second-section ">
        <div class="content">
            <h2>
                Join Us in Connecting You with your Loved Ones Shiftly 
                            
            </h2>
            <!-- <div class="btn-container">
                    <img src="../../../../assets/icon/google-play.png" class="google">
                    <img src="../../../../assets/icon/app-store.png" class="app">
            </div> -->
            <div class="row products">
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Message</h4>
                        <small>
                            Stay connected effortlessly with LOGO instantly.
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Images</h4>
                        <small>
                            Share memories with loved ones
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Share Thoughts</h4>
                        <small>
                            share messages and images easily with public.
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div>
                        <h4>Send Information</h4>
                        <small>
                            Lorem Ipsum is simply dummy text of the                    </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="../../../assets/images/communicate.webp">
        </div>
    </div>
    <div class="third-section">
        <div class="content">
            <h1 class="h1-head"><b>
                Our values  
            </b></h1>
            <p>
                Our app is designed to be intuitive and responsive, ensuring secure communication process across all devices.
            </p>
        </div>
        <div class="goal-content">
            <div class="goal">
                <img src="../../../assets/images/innovation.svg">
                <h2>
                    <b>Innovation</b>
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
            <div class="goal">
                <img src="../../../assets/images/simple.svg">
                <h2>
                    <b>Simplicity</b>
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
            <div class="goal">
                <img src="../../../assets/images/trust.svg">
                <h2>
                    Trust
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,                </p>
            </div>
        </div>
    </div>
    <div class="fourth-section" id="contact-us">
        <div class="header">
            <h1 class="h1-head"><b>
                Reach out to us 
            </b></h1>
            <p>
                Do you intend making inquiries? Please fill the form below and we will send you a reply as soon as we can.
            </p>   
        </div>
        
        <div class="info row">
            <div class="col-md-7" >
                <div class="row">
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Please enter your name" required formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Please enter email" required formControlName="email">
                        </mat-form-field>
                    </div>  
                </div>
                <div>
                    <mat-form-field appearance="outline" class="text-area">
                        <mat-label>Message</mat-label>
                        <textarea matInput formControlName="message"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox  formControlName="isSubscribe">Subscribe to our newsletter</mat-checkbox>

                </div>
                <div class="btn">
                    <button mat-flat-button>
                        <span >Send Message</span>
                    </button>
                </div>
            </div>
            <div class="col-md-5 contact-detail">
                <div class="row">
                    <div class="col-md-8">
                        <div class="social">
                            <img src="../../../assets/icon/facebook (2).svg">
                            <img src="../../../assets/icon/instagram (2).svg">
                            <img src="../../../assets/icon/linkedin (2).svg">
                            <img src="../../../assets/icon/twitter (2).svg"> 
                        </div>
                        
                        <h2>+234 903 123 3454</h2>
                        <h2>+234 903 123 3454</h2>
                    </div>
                    <p>
                        You may also contact us via our phone lines.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>