/* You can add global styles to this file, and also import other style files */
$deeperBlue: rgb(6, 47, 104);
$deepBlue: rgb(34 100 195);
$mediumBlue: rgb(41, 162, 210);
$lightBlue: rgb(150, 217, 244);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
