<app-navbar></app-navbar>
<div class="login-body">
    <mat-card>
        <div class="content">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
          
            <!-- <mat-form-field>
                <mat-label>Enter your email</mat-label>
                [formControl]="email"
                <input matInput placeholder="pat@example.com"  required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field> -->
              <form [formGroup]="loginForm">
                <mat-card-content>
                    <mat-form-field class="example-form-field">
                          <mat-icon matPrefix>mail</mat-icon>
                          <mat-label>Email</mat-label>
                          <input matInput type="text" formControlName="email">
                      </mat-form-field>
                      <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                        <div *ngIf="f['email'].errors?.['required']">email is required.</div>
                        <div *ngIf="f['email'].errors?.['email']">email is not valid.</div>
                      </div>
                      <mat-form-field class="example-form-field">
                        <mat-icon matPrefix>lock</mat-icon>
                          <mat-label>Password</mat-label>
                          <input matInput type="password" 
                            formControlName="password"
                          [type]="hide ? 'password' : 'text'">
                          <mat-icon matSuffix id="eye" (click)="hidePassword()">
                              {{hide ? 'visibility_off' : 'visibility'}}
                          </mat-icon>
                      </mat-form-field>
                      <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                        <div *ngIf="f['password'].errors?.['password']">password is required.</div>
                      </div>
                    </mat-card-content>
                    <mat-card-actions>
                  <button mat-raised-button class="send-btn"
                  (click)="submit()" [disabled]="sendBtn"
                  >Submit
                  <mat-spinner [diameter]="40"
                      *ngIf="spinner"
                  style="float: right; height: 15px; width: 15px"></mat-spinner>
                </button>
                <br></mat-card-actions> 
                <div class="other-buttons">
                  <div>
                    <button mat-button
                    routerLink="/register/signUp"
                    >
                    Sign Up</button>
                  </div>
                </div>
                     
              </form>
              
        </div>
        
    </mat-card>
</div>
